.ui-inputtext {
    margin: 0;
    outline: medium none;
    padding: .25em;
    font-weight: normal;
    transition: .2s;
    background: #ffffff;
    color: #222222;
    border: 1px solid #d6d6d6;
}