.ui-align-v-center{
    margin:0 auto;
}

.ui-box-size{
    box-sizing: border-box;
}

.ui-left{
    float: left;
}

.ui-right{
    float: right;
}

.ui-fit{
    max-width: 100%;
}

.ui-relative{
    position: relative;
}